<link rel="stylesheet" type="text/css" href="css/style.css" />
<h1 class="text-center">Welcome <%= name %>!!</h1>
<form action="/reset" method="POST">
  <button class="btn" type="submit" class='text-center'>Log Out</button>
</form>