<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>
<body>



<h1 class="text-center" >Welcome <%= name %>!!</h1>
<form action="/logout?_method=DELETE" method="POST">
  <button class="btn" type="submit" class='text-center'>Log Out</button>
</form>
</body>
</html>



