<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Login</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" type="text/css" href="css/style.css" />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body >

<p class="text-center" style="color: red;">
 <% if (messages.error) { %>
  <%= messages.error %>
<% } %> </p>

      <%- include ("./messages") %>

<div class="login-form">
    <form action="/login" method="POST">
        <h2 class="text-center">Login</h2>   
        <div class="form-group has-error">
        	<input type="email" id="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" id="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>        
        <div class="form-group">
            <button type="submit" id="signin" class="btn btn-primary btn-lg btn-block">Sign in</button>
        </div>
        <p><a href="/forgot">Forgot Password?</a></p>
    </form>
    <p class="text-center small ">Don't have an account? <a class="bg-info text-white" " href="/register">REGISTER!</a></p>
</div>
</body>
</html>